<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/product/<%= product._id%>" method="post">
      <div>
        <label for="name">品項</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="quantity">數量</label>
        <input type="number" name="quantity" id="quantity" />
      </div>
      <div>
        <label for="color">顏色</label>
        <input type="text" name="color" id="color" />
      </div>
      <div>
        <label for="arrivalDate">進貨時間</label>
        <input type="month" name="arrivalDate" id="arrivalDate" />
      </div>

      <button>新增</button>
    </form>
    <a href="/product">回到主頁</a>
  </body>
</html>
