<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/product" method="post">
      <div>
        <label for="name">品項</label>
        <input type="text" name="name" id="name" />
      </div>
      <!-- <div>
        <label for="sort">商品分類</label>
        <input type="text" name="sort" id="sort" />
      </div>
      <div>
        <label for="price">商品價錢</label>
        <input type="text" name="price" id="price" />
      </div>
      <div>
        <label for="quantity">商品庫存</label>
        <input type="text" name="quantity" id="quantity" />
      </div> -->
      <button>新增</button>
    </form>
    <a href="/product">回到主頁</a>
  </body>
</html>
