<form action="/sell" method="POST">
  <div>
    <label for="productName">產品品項</label>
    <select id="productName" name="productName">
      <option value="" selected>請選擇</option>
      <% for(let product of products){ %>
      <option value="<%= product._id %>"><%= product.name %></option>
      <% } %>
    </select>
  </div>
  <div>
    <label for="productDetail">產品名稱</label>

    <select id="productDetail" name="productDetail">
      <option value="" selected>請選擇</option>
    </select>
  </div>
  <div>
    <label for="productColor">產品顏色</label>

    <select id="productColor" name="productColor">
      <option value="" selected>請選擇</option>
    </select>
  </div>
  <div>
    <label for="quantity">賣出數量</label>
    <input type="number" id="quantity" name="quantity" />
  </div>
  <div>
    <button type="submit">送出</button>
  </div>
  <input type="hidden" id="productId" name="productId" value="" />
  <input type="hidden" id="detailId" name="detailId" value="" />
  <input type="hidden" name="sellId" value="SELL_ID_HERE" />
</form>
<a href="/product"><button>切換至進貨系統</button></a>
