<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>朋友家登山社進貨系統</title>
  </head>
  <body>
    <h1>朋友家登山社</h1>
    <% for (let product of products) { %>
    <div>
      <ul>
        <li><a href="/product/<%= product._id%>"><%= product.name%></a></li>
      </ul>
    </div>
    <%}%>

    <a href="/productNew">新增</a>
    <a href="/sell">切換至銷貨系統</a>
  </body>
</html>
