<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.name %>的細項</title>
  </head>
  <body>
    <ul>
      <li><%= detail.name%></li>
    </ul>

    <a href="/product/<%= product._id%>/detail"> <p>新增細項</p></a>

    <a href="/product">回到產品列</a>
  </body>
</html>
