<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.name %></title>
  </head>
  <body>
    <h1>新增成功</h1>
    <ul>
      <li><a href="/productDetail/衣服">衣服</a></li>
      <li><a href="/productDetail褲子">褲子</a></li>
      <li><a href="/productDetail/鞋子">鞋子</a></li>
      <li><a href="/productDetail/背包">背包</a></li>
      <li><a href=""><%= product.name%></a></li>
    </ul>
  </body>
</html>
