<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>存貨系統</title>
  </head>
  <body>
    <% products.forEach((product)=>{%>
    <ul>
      <a href="/stock/<%= product._id%>"><li><%= product.name %></li></a>
    </ul>
    <%})%>
  </body>
</html>
